*{
    font-family: sans-serif;
} 

body{
    background-image: url(Images/ba2.jpg);
    height: 90vh;
    width: 100%;
    background-size:cover;
    background-position: center;
    padding: 2em 35em 0 35em;
    max-width: 100%;
    overflow-x: hidden;
}

#forme{
    height: 35em;
    width: 20em;
    background-color: #3b5998;
    border-radius: 10px;
    padding: 2em;

}

#inputs{
    width: 100%;
    border: none;
    background: transparent;
    border-bottom: 1px solid grey ;
    font-size: 15px;
}

#butt{
    background-color: rgb(222, 152, 21); 
    width: 50%;
    height: 3em;
    border: 1px solid rgb(222, 152, 21);
    margin:12px 25% ;
    border-radius: 5px;
    font-weight: bold;
    /* color: rgb(222, 152, 21); */
    
}

#butt:hover{
    cursor: pointer;
    /* background: #ffc107; */
    background: white;
    color: #000;
    transition: 0.6s;
}

